In [60]:
import numpy as np
import pandas as pd

In [61]:
gdp_data=pd.read_csv("gdp.csv")
interest_data=pd.read_csv("interest_rate.csv")

In [62]:
gdp_data

                 Metric      Value
0  Previous 2 Years Avg  26863.801
1                     1  28624.069
2                     2  29016.714
3                     3  29374.914
4                     4  29723.864

In [63]:
interest_data

                 Metric    Value
0  Previous 2 Years Avg  5.08409
1      Current Year Avg  4.33000

In [64]:
gdp_flag=1
absolute_flag=0

In [65]:
gdp=(gdp_data["Value"])
prev_avg_gdp=gdp[0]
current_avg=0
for i in range(1,len(gdp)):
    current_avg+=gdp[i]
current_avg/=(len(gdp)-1)
current_avg

np.float64(29184.89025)

In [66]:
interest=(interest_data["Value"])
interest

0    5.08409
1    4.33000
Name: Value, dtype: float64

In [67]:
if(prev_avg_gdp<current_avg):
    for i in range(1,len(gdp)-1):
        if(gdp[i+1]-gdp[i]<0):
            gdp_flag=0
            break

else:
    gdp_flag=0

In [68]:
if(interest[1]>interest[0]) or (interest[1]>=3):
    absolute_flag=1

In [69]:
result_df = pd.DataFrame({
    "Metric":["GDP Flag", "Absolute Flag"],
    "Value": [gdp_flag,absolute_flag]
})

result_df.to_csv("Flags.csv",index=False)
print("Flags stored in Flags.csv\n")

Flags stored in Flags.csv